<h1> Here are all your jobs </h1>

<div class="cards" style="display: grid; grid-template-colums: 1fr 1fr; grid-gap: 15px;">
  <%= render @jobs %>
</div>


<div id="map"
     style="width: 100%; height: 600px;"
     data-markers="<%= @markers.to_json %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
</div>

