<div class="about-section">
    <h1>About Us Page</h1>
    <p>At CrimeRate, we all come to work every day because we want to solve the biggest problem in crime. 
        <strong>Everyone is guessing.</strong> Working people don't know who can help them to finally kill their bosses, 
        what way is the most exciting, or even what to price them at. Credulus vendors don't know where their target
        customers are, how to reach them, or even how much time they need to spend in order to do so.
    </p>
    <p>Throughout the history of crime, people use their own contacts, some of them even don't have one. Our mission
        at CrimeRate to make the contacts with the crime world more accessable to people who are seeking for help. Today 
    we provide the most actionable app data and insights in the industry. We want to make this data available to as many 
    people as possible. </p>
  </div>
  
  <h2 style="text-align:center">Our Team</h2>
    <div class="column" class="wrapper">
      <div class="card">
        <!-- <img src="" alt="Jane" style="width:100%"> -->
        <div class="container">
          <h2>Hwa</h2>
          <p class="title">Criminal genius</p>
          <p>Some text that describes me lorem ipsum ipsum lorem.</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>
  
    <div class="column">
      <div class="card">
        <!-- <img src="" alt="Mike" style="width:100%"> -->
        <div class="container">
          <h2>Wong Zhi Kai</h2>
          <p class="title">Crime director</p>
          <p>Some text that describes me lorem ipsum ipsum lorem.</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>
  
    <div class="column">
      <div class="card">
        <!-- <img src="" alt="John" style="width:100%"> --> 
        <div class="container">
          <h2>Shu</h2>
          <p class="title">Security director</p>
          <p>Some text that describes me lorem ipsum ipsum lorem.</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>

    <div class="column">
        <div class="card">
          <!-- <img src="" alt="Mike" style="width:100%"> -->
          <div class="container">
            <h2>Margarita</h2>
            <p class="title">Joker</p>
            <p>Some text that describes me lorem ipsum ipsum lorem.</p>
            <p><button class="button">Contact</button></p>
          </div>
        </div>
      </div>
  </div>
