<section class="jumbotron text-center py-5" style="background-color: #D3E0EA;">
  <div class="container-fluid">
    <h1 class="jumbotron-heading">About CrimeRate</h1>
    <p class="lead text-muted" style="font-size: 0.8em">
      At CrimeRate, we all come to work every day because we want to solve the biggest problem in crime.
        <strong>Everyone is guessing.</strong> Working people don't know who can help them to finally kill their bosses,
        what way is the most exciting, or even what to price them at. Credulus vendors don't know where their target
        customers are, how to reach them, or even how much time they need to spend in order to do so.
        <br>
        <br>
      Throughout the history of crime, people use their own contacts, some of them even don't have one. Our mission
      at CrimeRate to make the contacts with the crime world more accessable to people who are seeking for help. Today
      we provide the most actionable app data and insights in the industry. We want to make this data available to as many
      people as possible.
    </p>
  </div>
</section>

  <div class="container mt-3" style="padding: 0 16px;">
    <h2 style="text-align:center">Our Team</h2>
      <div class="column" class="wrapper">
        <div class="card">
          <!-- <img src="" alt="Jane" style="width:100%"> -->
          <div class="container">
            <h2>Hwa Jie</h2>
            <p class="title">Criminal genius</p>
            <p>People say nothing is impossible, but I do nothing every day.</p>
            <p><button class="btn btn-primary btn-block">Contact</button></p>
          </div>
        </div>
      </div>

      <div class="column">
        <div class="card">
          <!-- <img src="" alt="Mike" style="width:100%"> -->
          <div class="container">
            <h2>Zhi Kai</h2>
            <p class="title">Crime director</p>
            <p>All the things I really like to do are either immoral, illegal or fattening.</p>
            <p><button class="btn btn-primary btn-block">Contact</button></p>
          </div>
        </div>
      </div>

      <div class="column">
        <div class="card">
          <!-- <img src="" alt="John" style="width:100%"> -->
          <div class="container">
            <h2>Shu</h2>
            <p class="title">Security director</p>
            <p>The average dog is a nicer person than the average person.</p>
            <p><button class="btn btn-primary btn-block">Contact</button></p>
          </div>
        </div>
      </div>

      <div class="column">
          <div class="card">
            <!-- <img src="" alt="Mike" style="width:100%"> -->
            <div class="container">
              <h2>Margarita</h2>
              <p class="title">Joker</p>
              <p>If you’re going to tell people the truth, be funny or they’ll kill you.</p>
              <p><button class="btn btn-primary btn-block">Contact</button></p>
            </div>
          </div>
        </div>
    </div>
