
  <div class="text-center"><h1>Welcome to CrimeRate</h1>
    <p>Connecting eager suppliers and buyers for job satisfaction guaranteed</p>
  </div>
  Some of our satisfied customers:
  <%= render "components/carousel" %>


