

<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">

    <div class="carousel-item active" style="background-image: url(assets/homepage_1.jpg);">
      <div class="carousel-container">
        <div class="carousel-content">
          <h2>Welcome to CrimeRate</h2>
          <p>The modern solution to all your naughty deeds <br><strong>100% SATISFACTION GUARANTEED</strong></p>
        </div>
      </div>
    </div>

    <div class="carousel-item" style="background-image: url(assets/homepage_2.jpg);">
      <div class="carousel-container">
        <div class="carousel-content">
          <h2>Conduct your services safely</h2>
          <p>We use cutting edge technology to protect your identify</p>
        </div>
      </div>
    </div>

    <div class="carousel-item" style="background-image: url(assets/homepage_3.jpg);">
      <div class="carousel-container">
        <div class="carousel-content">
          <h2>Service all your needs</h2>
          <p>We guarantee that you can either <br>1. find the top talent to carry out your services or <br>2. generate healthy pipeline for your business</p>
        </div>
      </div>
    </div>

  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
