<div class="container">
  <h1>Splash screen</h1>

  <h1>Get started with CrimeRate, the hot new marketplace for discreet jobs </h1>

  Some of our satisfied customers:
  <%= render "components/carousel" %>
</div>
