<div class="py-3" style="background-color: #edffec;">
  <div class="container">
    <h1>All reviews</h1>
    <%= link_to 'New review', new_job_review_path(params[:job_id]), class:"btn btn-primary" %>
  </div>
</div>

<div class="container mt-3">
  <%= render @reviews %>
</div>

